@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  /* background-color: #2d2834; */
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/src/assets/images/nyblacknwhite.jpg");
  filter: blur(3px); /* Aplica o efeito de borrão */
  z-index: -1; /* Coloca o elemento por trás de todo o conteúdo */
}